@import "../node_modules/@fontsource/dm-sans/400.css";
@import "../node_modules/@fontsource/dm-sans/300.css";
@import "../node_modules/@fontsource/dm-sans/500.css";
@import "../node_modules/@fontsource/dm-sans/600.css";
@import "../node_modules/@fontsource/dm-sans/700.css";
@import "../node_modules/@fontsource/dm-sans/800.css";
@import "../node_modules/@fontsource/dm-sans/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans";
}
.font-dm-light {
  font-family: "DM Sans";
  font-weight: 300;
}

.font-dm-regular {
  font-family: "DM Sans";
  font-weight: 400;
}

.font-dm-medium {
  font-family: "DM Sans";
  font-weight: 500;
}

.font-dm-semibold {
  font-family: "DM Sans";
  font-weight: 600;
}

.font-dm-bold {
  font-family: "DM Sans";
  font-weight: 700;
}

.font-dm-extrabold {
  font-family: "DM Sans";
  font-weight: 800;
}

.font-dm-black {
  font-family: "DM Sans";
  font-weight: 900;
}


@layer components {
  .smooth {
    @apply transition-all delay-700 duration-700 ease-in-out;
  }
}


.container_custom {
  max-width: 93%;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container_custom_2 {
  max-width: 93%;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}


.grid-cat {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.z-1 {
  z-index: -2;
}